* {
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
}
.logo {
  width: 100%;
  height: 20vh;
  padding: 20px;
  text-align: center;
}
.addDiv {
  width: 60%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  background-color: white;
}

/* .contentInput {
  width: 35%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #eee;
} */
.contentLabel {
  /* margin-left: 10%; */
  font-size: 20px;
}
.addBtn {
  width: 12%;
  padding: 5px;
  background-color: white;
  border: 3px solid #0091a3;
  border-radius: 15px;
  font-size: 18px;
}

.todoDiv {
  padding: 100px;
  display: flex;
  gap: 12px;
}
.listDiv {
  width: 100px;
  height: 100px;
  border: 1px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
}
